<div class="bigbang">
    <div class="gravity-spot">
        <!-- sun -->
        <div class="orbit-3 visible">
        </div>

        <!-- hourglass twins -->
        <div class="orbit-5 rotate-orbit rotate-time-4">
            <div class="satellite invisible angle-180">
                <div class="gravity-spot">
                    <div class="orbit rotate-orbit rotate-time-1">
                        <div class="satellite visible shrink-50"></div>
                        <div class="satellite visible shrink-50"></div>
                    </div>
                </div>
            </div>
        </div>

        <!-- timber hearth -->
        <div class="orbit-7 rotate-orbit rotate-time-4">
            <div class="satellite visible angle-120"></div>
        </div>

        <!-- brittle hollow -->
        <div class="orbit-9 rotate-orbit rotate-time-4">
            <div class="satellite visible angle-45"></div>
        </div>

        <!-- giant's deep -->
        <div class="orbit-12 rotate-orbit rotate-time-4">
            <div class="satellite visible angle-150"></div>
        </div>

        <!-- dark bramble -->
        <div class="orbit-14 rotate-orbit rotate-time-4">
            <div class="satellite visible angle-330"></div>
        </div>

        <!-- interloper -->
        <div class="orbit-16 invisible">
            <div class="gravity-spot at-center-right" style="margin-left: 150px;">
                <div class="orbit" style="--o-ellipse-x: 0.10; --o-ellipse-y: 0.2">
                    <div class="satellite rotate-orbit interloper rotate-time-1 angle-290 visible shrink-60"></div>
                </div>
            </div>
        </div>
    </div>
</div>