<div class="container" style="height: 99vh;">

    <div class="center-div" style="height: 130px;">
        <span id="titulo">Click to upload your file</span>
    </div>

    <div class="center-div">
        <input type='file' (change)="readFile($event)">
    </div>

    <div class="center-div">
        <span style="font-size: 24px;">
            Save files are usually stored in <br>
            C:\Users\yourUser\AppData\LocalLow\Mobius Digital\Outer Wilds\SteamSaves\yourProfile\data.owsave <br>
            Please consider using the latest Steam version of the game, as older versions are not guaranteed to work
        </span>
    </div>
</div>